{
	font-family: "Courier New", monospace;
	font-size: 20px;
	/*CSS Reset*/
	margin: 0;
	padding: 0;
}


body {
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

h1 {
	color: black !important;
	text-align: center;
	font-size: 2rem;

}

section	{
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

#zuitt-motto {
	letter-spacing: 5px;
}

.offering-item {
	text-transform: uppercase;
}
input[required] {
  	border-width: 2px;
  	border-style: solid;
  	border-color: navy;
  	width: 90%;
}
#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;

}
#bootcamp-learning-list li{
color: #075966
}

a{
text-decoration:none;
}

form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}
section > form > label {
	color:  rgb(0,0,128);
}
button {
	text-decoration-color: white;
	background-color: rgb(207, 0, 83);
	border: 0px;
	border-radius: 15px;
	padding: 3px;
	margin-top: 2px;

}