{
  font-family: Verdana;
  fallback: sans-serif;
  size: 20px;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
}
ul li {
    width: 100%;
}


li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
  display: block;

}

li a:hover {
  background-color: #ADD8E6;
}

body {
  background-color: #007474 ;
}

h1 {
  color: #FF69B4;
  text-align: center;
  font-size: 3rem;
  font-family: Segoe Script !important;
  line-height: 50%;


}
#for-h2 {
  color: #FF69B4;
  text-align: center;
  font-size: 2rem;
  font-family: Segoe Script !important;
  line-height: 50%;
  text-transform: uppercase;
}
#h3{
  color: #FF69B4;
  text-align: center;
  font-size: 1.5rem;
  font-family: Segoe Script !important;
  line-height: 50%;
}
img {
    height: 400px;
  width: 400px;
  border-radius:  300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
section img{
  height: 20vh;
  width: 20vh;
  border-radius: 150px;
}

img + ol {
  text-transform: uppercase;
  line-height: 200%;
  font-size: 1.2rem;
  color:#FF69B4 ;
  list-style-type: none;


}
a ~ li{
  text-align: center;
}
ol > li{
  letter-spacing: 10px;
}
a{
  text-decoration:none !important;
  text-transform: none !important;


} 
button {
  text-decoration-color: white;
  background-color: rgb(207, 0, 83);
  border: 0px;
  border-radius: 15px;
  padding: 3px;
  margin-top: 2px;
}
section > form > label {
  color:  rgb(0,0,128)
}
form{
  text-align: center;
  background-color: white;
  border: 2px solid black;
  height: 185px;
  width: 25vw;
  position: relative;
  left: 37.25%;
}
input[required] {
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    width: 90%;
}
.design{
  border: 2px solid blue;
  background-color: #90EE90;
  margin-left: auto;
  margin-right: auto;

}
th, td {
      border: 2px solid blue;
 
}
